<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>eve</title>
    <!-- JavaScript Bundle with Popper -->

<script src="https://kit.fontawesome.com/83f9dfdb21.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/navbar.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/News-Cards-4-Columns-v2.css">
    
</head>

<body style="background: url(&quot;img/bag1.svg&quot;) top repeat, #07071f;color: rgb(255,255,255);">
    <nav class="navbar navbar-light navbar-expand-md py-3" style="color: rgb(255,255,255);background: rgba(7,33,56,0);margin-bottom: 26px;">
        <div class="container"><img src="img/eve1.svg" style="width: 25px;"><a class="navbar-brand d-flex align-items-center" href="#" style="color: rgba(210,100,100,0.9);"><span style="color: rgb(4,205,214);margin: 5px;">E.V.E</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: rgba(255,255,255,0.9);">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: rgba(255,255,255,0.55);">About Us</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: rgba(255,255,255,0.55);">Pricing</a></li>
                </ul><a href="./login"><button class="btn btn-primary" type="button" style="border-radius: 17px;">Logout</button></a>
            </div>
        </div>
    </nav>
    <div style="height: 504px;">
        <div class="container">
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-6 col-lg-5 offset-lg-1" style="height: 500px;">
                    <h1 style="margin-top: 52px;font-weight: bold;"><span style="color: rgb(4,203,206);margin-bottom: 20px;margin-top: 0px;padding-bottom: 0px;"><h6 style="margin-top: 37px;margin-bottom: 50px;"><div class="wrapper">
                        <div class="typing-demo"><b>Hello There </b><Span style="color: white;">I'm EVE</Span> </div>
                    </div></h6></h1>
                    <p>“E.V.E” is a telepresence healthcare robot designed to enable safe maternity assistance throughout the galaxy, from villages on earth to craters on mars. It allow physicians to participate in the care of women without the necessity of their physical presence at every step.<br><br><button class="btn btn-primary" type="button" style="border-radius: 20px;background: rgb(4,203,206);">Know More</button><br><br><br></p>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-0" style="background: rgba(7,7,31,0);"><img src="img/PHOTO-2022-09-30-23-33-54-removebg-preview.png" style="width: 400px;margin-left: 55px;"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Features</h2>
                    <p class="w-lg-50">E.V.E comes equipped with state of the art technological equipment that will diagnose and deliver care to customers</p>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon lg" style="border-radius: 49px;background: rgb(4,203,206);"><i class="fas fa-heartbeat"></i></div>
                        <div class="px-3">
                            <h4>Monitoring Vitals</h4>
                            <p>Keeps a constant check on your vitals and notifies in any serious changes that occur&nbsp;</p><a href="#" style="color: rgb(4,203,206);">Learn More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon lg" style="border-radius: 75px;background: rgb(4,203,206);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -64 640 640" width="1em" height="1em" fill="currentColor">
                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M320.5 381.5C324.6 435.5 353 482.6 394.8 512H128.1C92.75 512 64.09 483.3 64.09 448V287.6H32.05C14.02 287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0 288.4 0C295.4 0 303.4 2.004 309.5 7.014L522.1 193.9C513.6 192.7 504.9 192 496 192C453.6 192 414.7 207 384.3 232L384 232H328V176C328 167.2 320.8 160 311.1 160H263.1C255.2 160 247.1 167.2 247.1 176V232H191.1C183.2 232 175.1 239.2 175.1 248V296C175.1 304.8 183.2 312 191.1 312H247.1V368C247.1 376.8 255.2 384 263.1 384H311.1C315.1 384 318 383.1 320.5 381.5H320.5zM328 312H329.1C328.7 313.1 328.4 314.3 328 315.4V312zM352 368C352 288.5 416.5 224 496 224C575.5 224 640 288.5 640 368C640 447.5 575.5 512 496 512C416.5 512 352 447.5 352 368zM496 464C509.3 464 520 453.3 520 440C520 426.7 509.3 416 496 416C482.7 416 472 426.7 472 440C472 453.3 482.7 464 496 464zM479.1 288V368C479.1 376.8 487.2 384 495.1 384C504.8 384 511.1 376.8 511.1 368V288C511.1 279.2 504.8 272 495.1 272C487.2 272 479.1 279.2 479.1 288z"></path>
                            </svg></div>
                        <div class="px-3">
                            <h4>Satellite Emergency</h4>
                            <p>feasible connection with satellite allows easy communication no matter where you are</p><a href="#" style="color: rgb(4,203,206);">Learn More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon lg" style="border-radius: 48px;background: rgb(4,203,207);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -32 576 576" width="1em" height="1em" fill="currentColor">
                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M275.2 250.5c7 7.375 18.5 7.375 25.5 0l108.1-114.2c31.5-33.12 29.72-88.1-5.65-118.7c-30.88-26.75-76.75-21.9-104.9 7.724L287.1 36.91L276.8 25.28C248.7-4.345 202.7-9.194 171.1 17.56C136.7 48.18 134.7 103.2 166.4 136.3L275.2 250.5zM568.2 336.3c-13.12-17.81-38.14-21.66-55.93-8.469l-119.7 88.17h-120.6c-8.748 0-15.1-7.25-15.1-15.1c0-8.746 7.25-15.1 15.1-15.1h78.25c15.1 0 30.75-10.87 33.37-26.62c3.25-19.1-12.12-37.37-31.62-37.37H191.1c-26.1 0-53.12 9.25-74.12 26.25l-46.5 37.74l-55.37-.0253c-8.748 0-15.1 7.275-15.1 16.02L.0001 496C.0001 504.8 7.251 512 15.1 512h346.1c22.03 0 43.92-7.187 61.7-20.28l135.1-99.51C577.5 379.1 581.3 354.1 568.2 336.3z"></path>
                            </svg></div>
                        <div class="px-3">
                            <h4>24/7 care</h4>
                            <p>Watches over you constantly like a loyal pet</p><a href="#" style="color: rgb(4,203,207);">Learn More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon lg" style="border-radius: 67px;background: rgb(4,203,206);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M236 176c0 15.46-12.54 28-28 28S180 191.5 180 176S192.5 148 208 148S236 160.5 236 176zM500.3 500.3c-15.62 15.62-40.95 15.62-56.57 0l-119.7-119.7c-40.41 27.22-90.9 40.65-144.7 33.46c-91.55-12.23-166-87.28-177.6-178.9c-17.24-136.2 97.29-250.7 233.4-233.4c91.64 11.6 166.7 86.07 178.9 177.6c7.19 53.8-6.236 104.3-33.46 144.7l119.7 119.7C515.9 459.3 515.9 484.7 500.3 500.3zM294.1 182.2C294.1 134.5 255.6 96 207.1 96C160.4 96 121.9 134.5 121.9 182.2c0 38.35 56.29 108.5 77.87 134C201.8 318.5 204.7 320 207.1 320c3.207 0 6.26-1.459 8.303-3.791C237.8 290.7 294.1 220.5 294.1 182.2z"></path>
                            </svg></div>
                        <div class="px-3">
                            <h4>Remote Scanning</h4>
                            <p>Performs scans on you and produces clear diagnosis of any problems</p><a href="#" style="color: rgb(4,203,206);">Learn More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

        <section>

            <h1 style="text-align: center;">Healthcare Services</h1>
            <p style="text-align: center;">Eve comes equipped with cutting edge modern technology for your care.</p><div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
              <figure class="snip1527">
                <div class="image"><img src="/img/met.jpg"
                    alt="pr-sample25" /></div>
                <figcaption>
        
                  <h3>Maternal Care</h3>
                  <p>
        
                    Eve will be there every step of the way of in your pregnancy journey. with eve by your side you won't have to worry.
                  </p>
                </figcaption>
                <a href="#"></a>
              </figure>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <figure class="snip1527">
                <div class="image"><img src="/img/cancer-removebg-preview.png"
                    alt="pr-sample25" /></div>
                <figcaption>
        
                  <h3>Cancer Care</h3>
                  <p>
        
                    Eve is here to aid you during your cancer recovery from in-home treatments to regular report logs.
                  </p>
                </figcaption>
                <a href="#"></a>
              </figure>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <figure class="snip1527">
                <div class="image"><img src="/img/gen.jpg"
                    alt="pr-sample25" /></div>
                <figcaption>
        
                  <h3>Gen-Care</h3>
                  <p>
        
                    Being healthy was never easier with eve at your side you can push away your worriers.
        
        
                  </p>
                </figcaption>
                <a href="#"></a>
              </figure>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <figure class="snip1527">
                <div class="image"><img src="https://media.istockphoto.com/vectors/disabled-elderly-woman-and-her-grandchildren-visiting-nursing-home-vector-id1300081308?b=1&k=20&m=1300081308&s=612x612&w=0&h=bI_ou3F5j23vfQA_tMsN8t41GRWfWmlLYGwlgWXmhXM="
                    alt="pr-sample25" /></div>
                <figcaption>
        
                  <h3>Assistive Care</h3>
                  <p>
        
                    Eve is equipped to take care of your rehabilitative needs from mental to physical eve will be there for you.
                  </p>
                </figcaption>
                <a href="#"></a>
              </figure>
            </div>
          </div>
        </div>
        </section>

        

        

        


    </div>
    <div style="border-color: rgba(60, 189, 9, 0);color: rgb(255,255,255);">
        <footer class="page-footer" style="border-color: rgba(255,255,255,0);background: rgba(243,243,242,0);color: rgb(204,204,204);">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <h3 style="color: rgb(4,203,207);">&nbsp;E.V.E</h3>
                        <ul class="footer-links">
                            <li></li>
                            <li></li>
                        </ul>
                        <p style="color: rgb(255,255,255);font-size: 20px;"><i>"taking care, out of this world"</i></p>
                        <header></header>
                    </div>
                    <div class="col-6 col-md-3">
                        <h4 style="font-weight: bold;color: rgb(255,255,255);">Menus</h4>
                        <ul class="footer-links">
                            <li><a href="#" style="color: rgb(255,255,255);">Home</a></li>
                            <li><a href="#" style="color: rgb(255,255,255);">About Us</a></li>
                            <li><a href="#" style="color: rgb(255,255,255);">Products</a></li>
                            <li><a href="#" style="color: rgb(255,255,255);">Gallery</a></li>
                            <li><a href="#" style="color: rgb(255,255,255);">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h4 style="color: rgb(255,255,255);">Our Services</h4>
                        <ul class="footer-links">
                            <li><a href="#" style="color: rgb(255,255,255);">Robotic Automation</a></li>
                            <li><a href="#" style="color: rgb(255,255,255);">Health Security</a></li>
                            <li><a href="#" style="color: rgb(255,255,255);">cloud data encryption</a></li>
                        </ul>
                        <h4>Nulla cursus finibus</h4>
                        <ul class="footer-links">
                            <li><a href="#">Curabitur elementum odio</a></li>
                            <li><a href="#">Proin condimentum ac</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3" style="color: rgb(255,255,255);">
                        <h4 style="color: rgb(255,255,255);">Contact Us</h4>
                        <ul class="footer-links">
                            <li style="font-size: 12px;">+67-1256872321</li>
                            <li style="font-size: 12px;">help@eve.in</li>
                        </ul>
                        <h4>Ut eget feugiat ante</h4>
                        <ul class="footer-links">
                            <li><a href="#">Etiam ornare vestibulum</a></li>
                            <li><a href="#">Donec tincidunt tempus</a></li>
                        </ul>
                    </div>
                </div>
                <p style="color: rgb(255,255,255);"></p>
                <hr>
                <div class="footer-legal">
                    <div class="float-md-end region"><a href="#"><img src="/img/eve1.svg">United States</a></div>
                    <div class="d-inline-block copyright">
                        <p class="d-inline-block">Copyright © 2022. All rights reserved by AlphaQ.<br></p>
                    </div>
                    <div class="d-inline-block legal-links">
                        <div class="d-inline-block item">
                            <h5>Privacy Policy</h5>
                        </div>
                        <div class="d-inline-block item">
                            <h5>Terms of Use</h5>
                        </div>
                        <div class="d-inline-block item">
                            <h5>Legal</h5>
                        </div>
                        <div class="d-inline-block item">
                            <h5>License</h5>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        alert("hello"+$username+"welcome to E.V.E");
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>